.CustomCounter {
  span {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    order: 1;
    flex-grow: 0;
    z-index: 1;
  }
}
