.link {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;

  &::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: currentColor;
    transition: width 0.3s;
  }

  &:hover::before {
    width: 80%;
  }

  &:last-child {
    opacity: 0.5;

    &::after {
      content: "";
    }
  }

  &::after {
    content: attr(data-arrow);
    padding-left: 5px;
    padding-right: 5px;
  }
}
