@import '../../../scss/variables.scss';

.cards {
  display: grid;
  height: fit-content;


  @media (max-width: $media-laptop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.videoContainer {
  position: relative;
  width: 300px;
  height: 590px;
  overflow: hidden;
  border-radius: 40px;
  position: sticky;
  top: 100px;

  .phone {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 5;
  }
}

video {
  width: 100%;
  height: 100%;
  padding: 10px;
  object-fit: cover;
}